* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #F2F8F7;
    color: #152921;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}
#app {
    max-width: 970px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}
h1, h2 {
    margin: 20px 0;
}
h1 {
    font-size: 2em;
}